:root {
    --gap: 4px;
}

body * {
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
}

#outer {
    height: 600px;
    width: 400px;
    box-sizing: content-box;

    padding: var(--gap);

    border: 4px solid grey;
    border-radius: 10px;
    background-image: linear-gradient(-30deg, #f0f0f0, white);
}

#display {
    height: 30%;
    width: 100%;

    display: flex;
    flex-direction: column;
    row-gap: var(--gap);

}

#UPPER {
    height: 40%;
}

#MAIN {
    height: 60%;

    font-size: 42px;
    font-weight: 600;
    text-align: right;
    align-content: center;
}

#UPPER, #MAIN {
    overflow: hidden;
    text-overflow: ellipsis;
    direction: rtl;

    color: white;

    border-radius: 4px;
    background-color: darkgreen;
}

#upper, #main {
    direction: ltr;
    unicode-bidi: bidi-override;
}

#buttons {
    height: 70%;
    width: 100%;

    padding: var(--gap) 0;

    display: flex;
    flex-wrap: wrap;

    gap: var(--gap);

    cursor: pointer;
}

#buttons > * > * {
    border: 1px solid black;
    border-radius: 4px;
}

#numbers {
    height: 80%;
    flex-grow: 3;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);

    gap: var(--gap);
} 

p {
    display: flex;
    margin: 0;

    user-select: none;
    align-items: center;
    justify-content: center;

    text-align: center;

    font-size: 18px;
}

#operators {
    height: 80%;
    flex-grow: 1;

    display: flex;
    flex-direction: column;

    gap: var(--gap);
}

#operators * {
    flex-grow: 1;

}

#delete {
    height: 20%;
    width: 100%;

    display: flex;
    gap: var(--gap);
}

#delete > * {
    flex-grow: 1;

    text-align: center;
    align-content: center;
}

#erase {
    width: 50%;
}

#clear, #allClear {
    width: 25%;
}
